MONGO_URL = 
domain = "http://localhost:3000"
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_PRESET = 
SECRET_JWT_KEY=
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
AUTH_SECRET=
GOOGLE_PAGE_INDEX_API_KEY=
NEXT_PUBLIC_GOOGLE_SEARCH_API_KEY=
DEV_MODE="DEVELOPMENT"
NEXT_PUBLIC_3D_SITE=